

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background: cadetblue;
}

section{
    height: 100vh;
}
p{
    font-size: 40px;
}